<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="css/fragment.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <header th:replace=" fragment:: header " > </header>

    <main>
        <h1>Write your post at the below field</h1>

    <form action="/post" method="post">
      <textarea id="post" name="post" rows="10" cols="50"> Add your post here</textarea>
        <br>
        <br>

      <input type="submit" value="Post">

    </form>
    </main>
    <footer th:replace="fragment :: footer" ></footer>


</body>
</html>