<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="css/index.css" rel="stylesheet" />
<!--    <link rel="stylesheet" th:href="@{style.css}">-->
<!--    <link rel="stylesheet" href="static/style.css">-->
    <title>Title</title>

</head>
<body>

    <header th:replace=" fragment:: header " > </header>


    <main>


        <p> This is CodeFellowship applicatication  that allows people learning to code to connect with each other and support each other on their coding journeys.</p>
    </main>

    <footer th:replace="fragment :: footer" ></footer>


</body>
</html>