<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="css/fragment.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/profile.css">

    <title>Title</title>
</head>
<body>

    <header th:replace=" fragment:: header " > </header>


    <main>
        <h1>User Details:</h1>
        <div >
            <table id="table">
                <tr>
                    <td> username</td>
                    <td th:text="${data.username}"> </td>
                </tr>

                <tr>
                    <td> first Name</td>
                    <td th:text="${data.firstName}"> </td>
                </tr>
                <tr>
                    <td> last Name</td>
                    <td th:text="${data.lastName}"> </td>
                </tr><tr>
                    <td> date Of Birth</td>
                    <td th:text="${data.dateOfBirth}"> </td>
                </tr><tr>
                    <td> Bio</td>
                    <td th:text="${data.bio}"> </td>
                </tr>
            </table>



            <h1> Posts:</h1>
            <div id="containerPost">

                <div th:each="post:${data.posts}" class="postBox">
                    <p th:text="${post.body}"> Post text</p>

                </div>
            </div>

        </div>
    </main>

    <footer th:replace="fragment :: footer" ></footer>



</body>
</html>