<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/profile.css">
    <title>Title</title>
</head>
<body>

    <header  >
        <nav class="nav" >
            <ul >

                <li style="display:inline; text-align:center; padding:30px;" >
                    <a href="/home"  style="color:0F044C; text-decoration: none;" > Home</a>
                </li>

                <div sec:authorize ="isAnonymous()">


                    <li style="display:inline; text-align:center; padding:30px;">
                        <a href="/login" style="color:0F044C; text-decoration: none;"> Login</a>
                    </li>

                    <li style="display:inline; text-align:center; padding:30px;">
                        <a href="/signup" style="color:0F044C; text-decoration: none;"> SignUp</a>
                    </li>

                </div>

                <div sec:authorize="isAuthenticated()">

                    <li style="display:inline; text-align:center; padding:30px;">
                        <a href="/logout" style="color:0F044C; text-decoration: none;"> Logout</a>
                    </li>

                    <li style="display:inline; text-align:center; padding:30px;">
                        <a href="/addPost" style="color:0F044C; text-decoration: none;"> Post</a>
                    </li>

                    <li style="display:inline; text-align:center; padding:30px;">
                        <a href="/myprofile" style="color:0F044C; text-decoration: none;"> Profile</a>
                    </li>


                </div>
            </ul>
        </nav>

    </header>

    <main>
        <p sec:authorize="isAuthenticated()" id="user"> User Name:    <span sec:authentication="name" >Bob</span>  </p>

        <div >
            <table id="table">
                <tr>
                    <td> username</td>
                    <td th:text="${data.username}"> </td>
                </tr>

                <tr>
                    <td> first Name</td>
                    <td th:text="${data.firstName}"> </td>
                </tr>
                <tr>
                    <td> last Name</td>
                    <td th:text="${data.lastName}"> </td>
                </tr><tr>
                    <td> date Of Birth</td>
                    <td th:text="${data.dateOfBirth}"> </td>
                </tr><tr>
                    <td> Bio</td>
                    <td th:text="${data.bio}"> </td>
                </tr>
            </table>


            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
            <h1> Posts</h1>
            <div th:each="post:${data.posts}">
                <p th:text="${post.body}"> Post text</p>

            </div>

        </div>
    </main>

</body>
</html>